@import '~bootstrap/scss/bootstrap.scss';

@import '../colors.css';
@import '../builtin/common.css';
@import '../builtin/titlebar.css';

:root{
  --contentAreaWidth: 100%;
  --contentAreaHeight: calc(100% - var(--titlebarHeight));
  --contentAreaMargin: 0px;
  --contentAreaPadding: 0px;
}

body{
  background: var(--windowThemeColor);
  color: #d7d7d7;
  margin: 0px;
  padding: 0px;
}

#contentsArea{
  display: flex;
  width: var(--contentAreaWidth);
  height: var(--contentAreaHeight);
  margin: var(--contentAreaMargin);
  padding: var(--contentAreaPadding);
}

hr{
  background-color: #4b4b4b;
}

#webviewExm1{
  background: rgb(255, 255, 255);
  width: 80%;
  height: 200px;
}

#openDevToolButton{
  margin-left: 20px;
}

#directoryInput{
  margin-left: 10px;
  width: 100%;
}