body{
  -webkit-app-region: drag;
  -webkit-user-select: none;
  background: rgba(122, 122, 122, 0.95);
  margin-top: 20px;
  padding: 10px;
}

#webviewExm1{
  background: rgb(255, 255, 255);
  width: 320px;
  height: 200px;
}
