@import '~bootstrap/scss/bootstrap.scss';

@import '../colors.css';
@import '../builtin/common.css';

body{
  background: var(--windowThemeColor);
  color: #d7d7d7;
  margin: 0px;
  padding: 0px;
}

hr{
  background-color: #4b4b4b;
}

.dragmovable{
  -webkit-app-region: drag;
}

.nodragmovable{
  -webkit-app-region: no-drag;
}

.flex{
  display: flex;
}

.flex-align-start{
  align-items: start;
}

.flex-align-center{
  align-items: center;
}


#webviewExm1{
  background: rgb(255, 255, 255);
  width: 80%;
  height: 200px;
}

#openDevToolButton{
  margin-left: 20px;
}

#directoryInput{
  margin-left: 10px;
  width: 100%;
}