@import '../colors.css';

:root{
  --contentSpanNormal: 10px;
  --contentSpanNarrow: 5px;
  --contentSpanFar: 15px;
  
  --contentPaddingNormal: 10px;
  --contentPaddingNarrow: 5px;
  --contentPaddingFar: 15px;

  --borderRadiusNormal: 8px;
  --borderRadiusSharp: 5px;
  --borderRadiusRound: 12px;

  --fontSizeNormal: 18px;
  --fontSizeSmall: 13px;
  --fontSizeLarge: 25px;

  --transitionNormalDuration: 0.8s;
  --transitionSlowDuration: 1.3s;
  --transitionFastDuration: 0.3s;

  --scrollWidthNormal: 15px;
  --scrollWidthNarrow: 10px;
  --scrollWidthBold: 20px;
  --scrollBasicTrackColor: var(--windowThemeColorBorder);
  --scrollBasicThumbColor: var(--windowThemeColorDark);
  --scrollPrimaryTrackColor: var(--primaryThemeColorBorder);
  --scrollPrimaryThumbColor: var(--primaryThemeColor);
}

.windowDraggable{
  -webkit-app-region: drag;
}

.textSelectable{
  -webkit-user-select: text;
}

.textUnSelectable{
  -webkit-user-select: none;
}

.scrollHidden{
  &::-webkit-scrollbar {
    display: none;
  }
}

.scrollBasicNormal{
  &::-webkit-scrollbar {
    width: var(--scrollWidthNormal);
    height: var(--scrollWidthNormal);
  }

  &::-webkit-scrollbar-track{
    background-color: var(--scrollBasicTrackColor);
    border-radius: var(--borderRadiusNormal);
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: var(--scrollBasicThumbColor);
    border-radius: var(--borderRadiusNormal);
  }
  
  &::-webkit-scrollbar-corner {
    background: transparent;
  }
}

.scrollBasicNarrow{
  &::-webkit-scrollbar {
    width: var(--scrollWidthNarrow);
    height: var(--scrollWidthNarrow);
  }

  &::-webkit-scrollbar-track{
    background-color: var(--scrollBasicTrackColor);
    border-radius: var(--borderRadiusSharp);
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: var(--scrollBasicThumbColor);
    opacity: 0.5;
    border-radius: var(--borderRadiusSharp);
  }
  
  &::-webkit-scrollbar-corner {
    background: transparent;
  }
}

.scrollBasicBold{
  &::-webkit-scrollbar {
    width: var(--scrollWidthBold);
    height: var(--scrollWidthBold);
  }

  &::-webkit-scrollbar-track{
    background-color: var(--scrollBasicTrackColor);
    border-radius: var(--borderRadiusRound);
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: var(--scrollBasicThumbColor);
    border-radius: var(--borderRadiusRound);
  }
  
  &::-webkit-scrollbar-corner {
    background: transparent;
  }
}

.scrollPrimaryNormal{
  &::-webkit-scrollbar {
    width: var(--scrollWidthNormal);
    height: var(--scrollWidthNormal);
  }

  &::-webkit-scrollbar-track{
    background-color: var(--scrollPrimaryTrackColor);
    border-radius: var(--borderRadiusNormal);
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: var(--scrollPrimaryThumbColor);
    border-radius: var(--borderRadiusNormal);
  }
  
  &::-webkit-scrollbar-corner {
    background: transparent;
  }
}

.scrollPrimaryNarrow{
  &::-webkit-scrollbar {
    width: var(--scrollWidthNarrow);
    height: var(--scrollWidthNarrow);
  }

  &::-webkit-scrollbar-track{
    background-color: var(--scrollPrimaryTrackColor);
    border-radius: var(--borderRadiusSharp);
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: var(--scrollPrimaryThumbColor);
    opacity: 0.5;
    border-radius: var(--borderRadiusSharp);
  }
  
  &::-webkit-scrollbar-corner {
    background: transparent;
  }
}

.scrollPrimaryBold{
  &::-webkit-scrollbar {
    width: var(--scrollWidthBold);
    height: var(--scrollWidthBold);
  }

  &::-webkit-scrollbar-track{
    background-color: var(--scrollPrimaryTrackColor);
    border-radius: var(--borderRadiusRound);
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: var(--scrollPrimaryThumbColor);
    border-radius: var(--borderRadiusRound);
  }
  
  &::-webkit-scrollbar-corner {
    background: transparent;
  }
}