:root{
  --mainContentsAreaWidth: calc(100% - var(--sidemenuWidth) - (var(--mainContentsAreaMargin) * 2));
  --mainContentsAreaHeight: calc(100% - (var(--mainContentsAreaMargin) * 2));
  --mainContentsAreaMargin: 10px;
}

#mainContentsArea{
  display: flex;
  width: var(--mainContentsAreaWidth);
  height: var(--mainContentsAreaHeight);
  margin: var(--mainContentsAreaMargin);
}

.mainContent{
  display: none;
  width: 100%;
  height: 100%;
}

[data-bs-toggle='collapse']{
  font-size: var(--fontSizeSmall);
}

[data-bs-toggle='collapse']:hover{
  opacity: 0.5;
  transition: var(--transitionFastDuration);
}