:root{
  --windowThemeColor: rgb(31, 31, 31);
  --windowThemeColorDark: rgb(24, 24, 24);
  --windowThemeColorBorder: rgb(75, 75, 75);

  --primaryThemeColor: rgb(13, 110, 253);
  --primaryThemeColorDark: rgb(5, 44, 101);
  --primaryThemeColorBorder: rgb(158, 197, 254);
}