html(lang='ja')
  head
    include ../_header.pug
    script(src='../../bundles/index.js')
  body
    div.container
      h1 Electron Template
      hr
      h2 Webview
      webview#webviewExm1.nodragmovable(src="https://www.google.com", preload="../../js/index/webviewResources/webviewExm1/domReady.js")