div#modal.modal.fade(tabindex="-1", aria-hidden="true")
  div#modalDialog.modal-dialog.modal-dialog-centered
    div#modalContent.modal-content
      div#modalHeader.modal-header
        h3 Title
      div#modalBody.modal-body
        p#alertModalMes
      div#modalFooter.modal-footer
        p Footer