meta(charset="utf-8")
  
// bootstrap style import
link(rel='stylesheet' type='text/css' href='../../css/bootstrap/bootstrap-grid.min.css')
link(rel='stylesheet' type='text/css' href='../../css/bootstrap/bootstrap-reboot.min.css')
link(rel='stylesheet' type='text/css' href='../../css/bootstrap/bootstrap.min.css')
      
// direct module import
script(src="../../js/bootstrap/jquery3.2.1-slim.min.js")
script(src="../../js/bootstrap/jquery3.3.1-slim.min.js")
script(src="../../js/bootstrap/popper.min.js")

// Bootstrap import
script(src='../../js/bootstrap/bootstrap.bundle.js')
script(src='../../js/bootstrap/bootstrap.min.js')
